

.channel-list {

  overflow-y: scroll;
}

.channel-list ul, .channel-list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.current-channel {

  /*background-color: rgba(255,255,255,.04);*/
  padding: 20px;
  padding-bottom: 0;

}
.current-channel img {
  float: left;
  margin-right: 15px;
}

.current-channel .title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}




.channel {

  display: grid;
  min-height: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(50px, auto);

  border-bottom: 1px solid #000;
  padding-left: 20px;
}

.channel img {
  grid-column: 1 ;
  grid-row: 1/3 ;
  height: 100px;
  width: 100px;
  margin: 5px 20px;
}

.channel h3 {
  margin: 0;
}
.channel p {
  margin: 0;
}

.channel .title {
  grid-column: 2/4;
  grid-row: 1;

  margin: 10px 0;
}

.channel .description {
  grid-column: 2/4;
  grid-row: 2;
  margin: 10px 0;

}

.channel .genre {
  grid-column: 4;
  grid-row: 1;
  margin: 10px 0;

}

.channel .listeners {
  grid-column: 2/4;
  grid-row: 2;
  display: none;
}


