
.stripe {
	position: relative;
	padding: 0px;
	padding-left: 130px;
	padding-right: 50px;
	background-color: #248;
	height: 50px;
	line-height: 50px;
	font-size: 20px;


	color: #000;
	/*
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 5px;
	*/
}

.current-song {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.above-bar {
	margin-left: 130px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: normal;
	font-size: 16px;
}


.play-button {

	border: 0;
	background-color: #248;
	border-radius: 100px;
	cursor: pointer;
	outline: none;

	padding: 10px;
	font-size: 70px;
	line-height: 70px;

	height: 90px;
	width: 90px;


	position: absolute;
	left: 20px;
	top: -20px;
	bottom: -20px;

	transition: .5s;
}

.play-button:hover {
	background-color: #48f;

}

/* Remove extra space around icon */
.play-button .mi {
	float: left;
}



.volume-container {

	position: absolute;
	right: 0px;
	top: 0px;


}

.volume-container button {
	height: 50px;
	line-height: 30px;
	font-size: 30px;
	padding: 10px;

	border: none;
	outline: none;
	background: transparent;
	background-color: transparent;
	transition: .5s;
	cursor: pointer;
}

.volume-container button:hover, .volume-container.open button {
	color: #FFF;
	background-color: rgba(0,0,0,.5);
}




.volume-slider {
	position: absolute;
	right: 0px;
	bottom: -50px;
	padding: 5px;

	display: flex;

	background-color: rgba(0,0,0,.5);
	color: #FFF;

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.volume-slider input {
	width: 50vw;
	margin: 15px;
}
.volume-slider i {
	margin: 15px;
}
