
.stripe {
	position: relative;
	padding: 0px;
	padding-left: 150px;
	background-color: #248;
	height: 50px;
	line-height: 50px;
	font-size: 20px;


	color: #000;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 5px;
}

.current-song {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.above-bar {
	margin-left: 150px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: normal;
	font-size: 16px;
}





.play-button {

	border: 0;
	background-color: #248;
	border-radius: 100px;
	cursor: pointer;
	outline: none;

	padding: 10px;
	font-size: 70px;
	line-height: 70px;

	height: 90px;
	width: 90px;


	position: absolute;
	left: 20px;
	top: -20px;
	bottom: -20px;

	transition: .5s;
}

.play-button:hover {
	background-color: #48f;

}

/* Remove extra space around icon */
.play-button .mi {
	float: left;
}
