

.song-list {
  background-color: rgba(0,0,0,.1);
  overflow-y: scroll;
  position: relative;

}


.song-list ul, .song-list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.song.heading {
  font-weight: bold;

}




.song {
  height: 65px;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.4);


  display: flex;

  align-items: center;
  justify-content: space-between;

}

.song span {
  flex: 2;
  margin-left: 20px;
}

.song .date {
  flex: 1;
}

